:host {
  display: block;
  height: 100%;
  width: 100%;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 320px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.left-panel,
.right-panel {
  min-height: 0;
  height: 100%;
}

.left-panel {
  overflow: hidden;
  background: #fafafa;
  border-right: 1px solid #ddd;
}

.right-panel {
  overflow-y: auto;
  background: #f8f9fa;
  padding: 10px;
  border-left: 1px solid #ddd;
}